input{
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: #58A4B0;
    border: #58A4B0;
}
input:hover{
    border: #373F51;
    background-color: #373F51;
    color: #00c8e7;
    transition: 1.5s;
}
button{
    width: 100px;
    height: 41px;
    color: #373F51;
    background-color: #58A4B0;
    border: #58A4B0 1px;
}
button:hover{
    background-color: #373F51;
    color: #58A4B0;
    border:#373F51;
    transition: 1.5s;
}